.production{
    margin-top: .1rem;
   
}
.section_title{
    font-size: 22px;
    margin-bottom: 15px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Gap between cards */
  }
  
  .card {
    background-color: #f0f0f0;
    box-sizing: border-box;
    border-radius: var(--border-radius);
  }
  
 
.content{
    width: 100%; /* Child width equal to parent width */
    height: 100%; /* Child height equal to parent height */
    position: relative;
    background-color: var(--container-color);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
   
    padding-bottom: 40px;
}
.app_name{
    margin: 1.25rem 0;
    font-size: 17px;
}
.appdescription
{
margin-bottom: 1rem;
}
.content .btn{
    margin-top: 1.25rem;
    background-color: blue;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 7px 15px;
    font-size: 14px;
}
.app_image{
    height: 100px;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: contain;
    
}
.button{
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.description{
    margin-bottom: 10px;
    
}




/* @media(max-width:1280px){
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px; 
      }
      
} */

@media(max-width:800px){
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
        grid-gap: 20px; /* Gap between cards */
      }
}
@media(max-width:500px){
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Three columns with equal width */
        grid-gap: 20px; /* Gap between cards */
      }
}