.aside1{
    position: fixed;
    right: 0;
    top: 8rem;
    background: var(--back-ground-color);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 230px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}